/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@400;500;600;700&display=swap");
@import url("../fonts/cocogoose.css");

h1 {
  font-family: "COCOGOOSE Regular", sans-serif;
  font-weight: normal;
  font-size: 42px;
}
