/* stylelint-disable csstree/validator */

/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("../fonts/cocogoose.css");

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 4px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.dark-bg {
  background-color: #444;
}

.dark-bg-2 {
  background-color: #272a31;
}

.dark-text {
  color: #444;
}

.nav-top {
  font-size: 14px;
}

.nav-bottom {
  background: white;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.logo img {
  height: 45px;
}

.nav-bottom a.nav-link {
  color: #272a31;
}

.nav-bottom a.nav-link:hover,
.nav-bottom a.nav-link.active {
  color: #ec5242 !important;
}

.nav-link.emphasized-link {
  color: #ec5242;
  border: 5px solid #ec5242;
}

.hero {
  background-color: #d3d3d3;
  background-image: url("../img/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .h1 {
  color: #ec5242;
}

.hero .emphasis-header {
  position: relative;
  overflow: hidden;
}

.hero .emphasis-header .h1 {
  display: inline-block;
  color: rgba(236, 83, 66, 0.65);
  font-family: "COCOGOOSE Regular", sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 45px;
  background-color: #ec5242;
  background-repeat: no-repeat;
  background-image: url("../img/mask.png");
  background-position: 50% 50%;
  -moz-background-size: 100%;
  background-size: cover;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.description {
  border: 5px solid white;
  background: rgba(211, 211, 211, 0.25);
  width: 100%;
}

.emphasis-subtitle .h2 {
  font-family: "COCOGOOSE Regular", sans-serif;
}

.section-title {
  display: block;
  text-align: center;
  position: relative;
  font-weight: normal;
  margin-bottom: 3rem;
}

.section-title::after {
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 3rem;
  content: "";
  background: #ec5242;
}

.program {
  background-image: url("../img/program-pattern.png");
  background-repeat: repeat;
}

.program .program-items {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
}

.program .program-item {
  background: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: 17% 30% 47%;
  grid-gap: 2.5%;
  align-items: center;
  padding: 1rem 0.5rem;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.program .program-item:hover {
  border-color: #fff;
}

.program .program-item .title {
  padding-left: 0.25rem;
  color: #ec5242;
}

a.cta-link {
  padding: 1.5rem 3rem;
  background: #ec5242;
  color: #fff;
  content: "Join Orange React Developer Conference";
  text-decoration: none;
}

a.cta-link:hover,
a.cta-link:active {
  color: #fff;
  background-color: #d43e2d;
}

.speakers-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.speakers-list .speaker {
  display: grid;
  grid-template-columns: 35% 65%;
}

.speakers-list .speaker img {
  image-rendering: crisp-edges;
  width: 100%;
  padding-right: 1.5rem;
}

.speakers-list .speaker .name h4 {
  margin: 0;
}

.speakers-list .speaker .role {
  margin: 0.25rem 0 1.5rem;
  font-style: italic;
  color: #ec5242;
  display: block;
  position: relative;
}

.speakers-list .speaker .role::after {
  position: absolute;
  bottom: -25%;
  left: 0;
  height: 1px;
  width: 1.5rem;
  content: "";
  background: #ec5242;
}

.speakers-list .speaker .bio {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 100px;
}

.partner-logo {
  padding: 0 1rem;
}

.partner-logo img {
  image-rendering: optimizeQuality;
}

footer {
  background-color: #f2f2f2;
  font-size: 14px;
}

footer img {
  max-height: 50px;
}

@media (min-width: 768px) {
  .hero .emphasis-header .h1 {
    font-size: 54px;
    line-height: 60px;
  }

  .description {
    width: 50%;
  }

  .nav-bottom {
    background: white;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }

  .program .program-item {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 3rem 1.5rem;
  }

  .program .program-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  a.cta-link {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    padding: 0;
    background: none;
  }

  a.cta-link::after {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 100%;
    content: "";
    background: #fff;
    transition: all 0.3s ease-in-out;
  }

  a.cta-link:hover {
    color: #ec5242;
  }

  a.cta-link:hover::after {
    background: #ec5242;
  }

  .speakers-list {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5rem;
  }

  .speakers-list .speaker .bio {
    max-height: max-content;
  }

  .partner-logo {
    padding: 0 2rem;
  }
}
